@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-primary: #e2d2c7;
  --color-secondary: #101010;
  --color-accent: #f59e0b;
  --color-background: #f9fafb;
  --color-foreground: #111827;

  --text-primary: #101010;
  --text-secondary: #e2d2c7;
  --text-tertiary: #929292;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  h1 {
    @apply text-4xl font-bold; /* eksempel */
  }
  h2 {
    @apply text-3xl font-bold; /* eksempel */
  }

  h3 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
}
@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--text-primary);
  }
  .text-secondary {
    color: var(--text-secondary);
  }
  .text-tertiary {
    color: var(--text-tertiary);
  }
}
